<h1>Bonjour <%= current_user.first_name %></h1>

<div>
  <% @applies.each do |apply| %>
    <div class="container-offer pt-4">
      <div class="card-offer">
        <img src="https://www.silicon.fr/wp-content/uploads/2012/08/Nouveau-Logo-Microsoft-%C2%A9-Microsoft-645x513.jpg" />
        <div class="card-dispatch">
          <div class="card-offer-infos">
            <h5><%= apply.offer.company_name %></h5>
            <h3><%= apply.offer.job_title %></h3>
            <p>CDI<span class="mx-2">•</span>
            <%= apply.offer.company_city %><span class="mx-2">•</span>
            Publié le <%= I18n.l(apply.offer.publish_date, format: "%A %d %B %Y") %><span class="mx-2">•</span>
            il y a <%= time_ago_in_words(apply.offer.publish_date) %></p>
          </div>
        </div>
        <div class="money"><i class="fas fa-coins mx-2"></i><%= apply.offer.salary %> k</div>
      </div>
    </div>
  <% end  %>
</div>

<div>
  semaine 1
</div>

<div>
  semaine 2
</div>

<div>
  graph
</div>
