<div class="custom-container">
  <div class="d-flex align-items-center justify-content-between" >
    <div class="">
      <h2 class="">Mes candidatures</h2>
    </div>

    <div class="search-bar mt-2">
      <%= form_tag applies_path, method: :get do %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Quelle entreprise ?"%>
          <%=  submit_tag "Recherche", class: "btn btn-warning design-search-bar" %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="dash-category d-flex justify-content-start align-items-center pb-3 pr-2">
    <%= link_to applies_path, class: "filtre-balise mr-3 #{ !@status ? 'active' : '' }" do %>
      <span>Toutes</span>
      <span><%= @allapplies_user.count %></span>
    <% end %>

    <%= link_to applies_path(params: { status: 'Entretien' }), class: "filtre-balise mx-3 #{ @status == 'Entretien' ? 'active' : '' }" do %>
      <span>Entretiens à préparer</span>
      <span><%= @entretiens.count %></span>
    <% end %>

    <%= link_to applies_path(params: { status: 'A postuler' }), class: "filtre-balise mx-3 #{ @status == 'A postuler' ? 'active' : '' }" do %>
      <span>Candidatures à envoyer</span>
      <span><%= @candidatures.count %></span>
    <% end %>

    <%= link_to applies_path(params: { status: 'Proposition à recevoir' }), class: "filtre-balise mx-3 #{ @status == 'Proposition à recevoir' ? 'active' : '' }" do %>
      <span>Propositions à recevoir</span>
      <span><%= @propositions.count %></span>
    <% end %>
    <%= link_to applies_path(params: { status: 'Refus' }), class: "filtre-balise mx-3 #{ @status == 'Refus' ? 'active' : '' }" do %>
      <span>Refusées</span>
      <span><%= @refusees.count %></span>
    <% end %>
  </div>
  <div class="">
    <% @applies.each do |apply| %>
      <%= link_to apply_path(apply) do %>
        <div class="container-offer pt-4">
          <div class="card-offer">
            <%= cl_image_tag apply.offer.company_logo.key, height: 300, width: 400 %>
            <div class="card-dispatch">
              <div class="card-offer-infos">
                <h5><%= apply.offer.company_name %></h5>
                <h3><%= apply.offer.job_title %></h3>
                <p>CDI<span class="mx-2">•</span>
                <%= apply.offer.company_city %><span class="mx-2">•</span>
                Publié le <%= I18n.l(apply.offer.publish_date, format: " %d/%m/%Y") %><span class="mx-2">•</span>
                il y a <%= time_ago_in_words(apply.offer.publish_date) %></p>
              </div>
            </div>
            <h2 class="status-label status-label-index <%= apply.status %>"> <%= apply.status %></h2>
            <div class="money"><i class="unique fas fa-coins"></i><strong><%= apply.offer.salary %></strong> k €</div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>

  <div class="dash-right d-flex align-items-end flex-column">
    <div id='calendar' data-applies="<%= @applies_for_fullcalendar.to_json %>">
    </div>
  </div>
</div>

