<div class="custom-container">
  <div class="dash-header pt-4 pb-3">
    <h1>Bonjour <%= current_user.first_name %></h1>
  </div>

  <div class="d-flex align-items-end justify-content-between" >
    <div class="">
      <h2 class="">Mes candidatures</h2>
    </div>

    <div class="search-bar mt-2">
      <%= simple_form_for :search, url: apply_path(Apply.first), method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-warning design-search-bar">
          <i class="fas fa-search"></i> Recherche
        </button>
      </div>
      <% end %>
    </div>
  </div>

  <div class="dash-category d-flex justify-content-start align-items-center pb-3">
    <%= link_to applies_path, class: "filtre-balise mx-3 #{ !@status ? 'active' : '' }" do %>
      <span>Toutes</span>
      <span><%= @allapplies_user.count %></span>
    <% end %>
    
    <%= link_to applies_path(params: { status: 'Entretien' }), class: "filtre-balise mx-3 #{ @status == 'Entretien' ? 'active' : '' }" do %>
      <span>Entretiens à préparer</span>
      <span><%= @entretiens.count %></span>
    <% end %>
    
    <%= link_to applies_path(params: { status: 'A postuler' }), class: "filtre-balise mx-3 #{ @status == 'A postuler' ? 'active' : '' }" do %>
      <span>Candidatures à envoyer</span>
      <span><%= @candidatures.count %></span>
    <% end %>

    <%= link_to applies_path(params: { status: 'Proposition à recevoir' }), class: "filtre-balise mx-3 #{ @status == 'Proposition à recevoir' ? 'active' : '' }" do %>
      <span>Propositions à recevoir</span>
      <span><%= @propositions.count %></span>
    <% end %>
    <%= link_to applies_path(params: { status: 'Refus' }), class: "filtre-balise mx-3 #{ @status == 'Refus' ? 'active' : '' }" do %>
      <span>Refusées</span>
      <span><%= @refusees.count %></span>
    <% end %>
  </div>
      <div class="">
        <% @applies.each do |apply| %>
          <div class="container-offer pt-4">
            <div class="card-offer">
              <%= cl_image_tag apply.offer.company_logo.key, height: 300, width: 400 %>
              <div class="card-dispatch">
                <div class="card-offer-infos">
                  <h5><%= apply.offer.company_name %></h5>
                  <h3><%= apply.offer.job_title %></h3>
                  <p>CDI<span class="mx-2">•</span>
                  <%= apply.offer.company_city %><span class="mx-2">•</span>
                  Publié le <%= I18n.l(apply.offer.publish_date, format: " %d/%m/%Y") %><span class="mx-2">•</span>
                  il y a <%= time_ago_in_words(apply.offer.publish_date) %></p>
                </div>
              </div>
              <h2 class="status-label <%= apply.status %>"> <%= apply.status %></h2>
              <div class="money"><i class="fas fa-coins mx-2"></i><%= apply.offer.salary %> k</div>
            </div>
          </div>
          <div class="money"><i class="fas fa-coins mx-2"></i><%= apply.offer.salary %> k</div>
        </div>
      </div>
    <% end  %>
  </div>

  <br>

  <div class="dash-right d-flex align-items-end flex-column">
    <div class="calendar-1">
      <%# <img src="https://source.unsplash.com/7F65HDP0-E0/400x300" alt="Calendrier S"> %>
      <%= image_tag "semaine_1.png", class: 'calend-pic' %>
      <p>Cette semaine</p>
    </div>

    <div class="calendar-2">
      <%# <img src="https://source.unsplash.com/7F65HDP0-E0/400x300" alt="Calendrier S+1"> %>
      <%= image_tag "semaine_2.png", class: 'calend-pic' %>
      <p>La semaine prochaine</p>
    </div>
  </div>
</div>

