<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/bsm/image/upload/v1622189287/banner-bla.jpg);">
  <div class="show-container">
    <div class="card-offer-banner">
      <%= cl_image_tag @offer.company_logo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-dispatch">
        <div class="card-offer-infos">
          <h5><%= @offer.company_name %></h5>
          <h3><%= @offer.job_title %></h3>
          <p>CDI<span class="mx-2">•</span>
          <%= @offer.company_city %><span class="mx-2">•</span>
          Publié le <%= I18n.l(@offer.publish_date, format: "%A %d %B %Y") %><span class="mx-2">•</span>
          il y a <%= time_ago_in_words(@offer.publish_date) %></p>
        </div>
      </div>
      <div class="money"><i class="fas fa-coins mx-2"></i><%= @offer.salary %> k</div>
    </div>
  </div>
</div>

<div class="color-container">
  <div class="container-show pb-3">
    <div class="container-offer pt-4">
    </div>
    <br>
    <br>
    <div class="container-infos row mx-0">
      <div class="card-company">
        <h6><strong class="blue-title">Localisation</strong></h6>
        <hr>
        <h6>
          <%= @offer.company_street%>, 
          <%= @offer.company_city %>, 
          <%= @offer.company_zipcode %>
        </h6>
        <h6>
          <i class="fas fa-car"></i><span class="mx-1"></span> 27 min 
          <span class="mx-1"></span>
          <i class="fas fa-subway"></i><span class="mx-1"></span> 32 min 
          <span class="mx-1"></span>
          <i class="fas fa-bicycle"></i><span class="mx-1"></span> 35min
        </h6>
        <br>
        <h6><strong class="blue-title">Contact</strong></h6>
        <hr>
        <h6>
          <i class="fas fa-user"></i><span class="mr-3"></span><%= @offer.recruiter_name %>
        </h6>
        <h6>
          <i class="fas fa-envelope"></i><span class="mr-3"></span><%= @offer.recruiter_email %>
        </h6>
        <h6>
          <i class="fas fa-phone-alt"></i><span class="mr-3"></span><%= @offer.recruiter_phone_number %>
        </h6>
        <br>
        <h6><strong class="blue-title">Avis</strong></h6>
        <hr>
        <h6>Note Glassdoor : <span class="mx-2"></span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </h6>
      </div>
      <div class="steps-infos px-3 col-4 pt-4 ">
        <h6><strong>Etape en cours : </strong></h6>
        <hr>
          <% if @apply.steps.present? %>
            <h6 class="next-step">
              <%= @apply.steps.last.name %> le <%= @apply.steps.last.date.strftime("%d/%m/%Y") %>       
              <button class='btn btn-link btn-lg px-1' id="btn-chiant" type="button" data-toggle="collapse" data-target="#collapseStep" aria-expanded="false" aria-controls="collapseStep"> <i class="far fa-edit mx-1"></i></button>
              <button class='btn btn-link btn-lg px-1' type="button" data-toggle="collapse" data-target="#collapseStep" aria-expanded="false" aria-controls="collapseStep"><i class="far fa-plus-square"></i></button>
            </h6>
          <% end %>
          <div class="collapse" id="collapseStep">
            <%= simple_form_for [@apply, @step] do |f| %>
              <%= f.input :name, label: false,  collection: Step::NAMES %>
              <%= f.input :date, label: false,  as: :date, html5: true %>
              <%= f.submit "Valider", class: "btn btn-flat"%>
            <% end %>
          </div>
        <br>
        <h6><strong>Historique</strong></h6>
        <hr>
        <div class="d-flex flex-column w-100">
          <% @apply.steps[0...-1].each do |step|%>
            <p class="mb-0"><%= step.date.strftime("%d/%m/%Y") %> - <%= step.name %></p>
          <% end %>
        </div>
        <h6>Etape à préciser ajouté le <%= @apply.updated_at.strftime("%d/%m/%Y") %></h6> 
        <h6>Etape à préciser ajouté le <%= @apply.created_at.strftime("%d/%m/%Y") %></h6> 
        <h6>Candidature envoyée le <%= @apply.application_date.strftime("%d/%m/%Y") %></h6> 
      </div>
      <div class="card-company d-flex flex-column justify-content-between align-items-center">
        <div class="w-100">
          <h6><strong class="blue-title">Ma candidature</strong></h6>
          <hr>
          <h6>Date de candidature:<span class="mx-1"></span> <%= @apply.application_date.strftime("%d/%m/%Y") %></h6>
          <h6>Prétention salariale:<span class="mx-2"></span> <%= @apply.salary_expectation %>
            <span class="mx-0.5"></span> k
          </h6>
          <br>
          <h6><strong class="blue-title">Documents</strong></h6>
          <hr>
          <div class="ligne-doc">
            <h6><i class="fas fa-file"></i><span class="mr-1"></span>CV : nicolas.cv.pdf</h6>
            <div><span class="mr-2"></span><i class="fas fa-eye"></i></div>
          </div>
          <div class="ligne-doc">
            <h6><i class="fas fa-file"></i><span class="mr-1"></span>LM : nicolas.lettre_de_motiv.pdf</h6>
            <div><span class="mr-2"></span><i class="fas fa-eye"></i></div>
          </div>
        </div>
          <%= link_to "Ajouter un document", "#", class: "btn btn-outline-warning mt-auto mx-3 rounded-pill" %>
      </div>
    </div>
    <div class="comments-notes d-flex p-4 flex-column mb-5 ">
      <h6><strong class="blue-title">Vos notes</strong></h6>
      <hr>
      <%= simple_form_for Comment.new, url: apply_comments_path(@apply), method: :post, html: { class: 'w-100' } do |f| %>
        <div class="add-comment d-flex w-100 align-items-end justify-content-between form-group mb-3">
          <%= f.input :content, label: false, placeholder: "    Ajouter un commentaire ici ...", wrapper_html: { class: 'flex-grow-1 mb-0 mr-4 grow-wrap ' }, input_html: { class: 'mb-0 rounded-pill'} %>
          <%= f.submit "Ajouter", class: "btn btn-flat rounded-pill" %> 
        </div>
      <% end %>
      <div class="d-flex flex-column w-100">
        <% @apply.comments.each do |comment|%>
          <p class="mb-0"><%= comment.created_at.strftime("%d/%m/%Y") %> - <%= comment.content %></p>
        <% end %>
      </div>
    </div>
    <div class="comments-notes d-flex p-4 flex-column mb-5 ">
      <h6><strong class="blue-title">Descriptif du poste</strong></h6>
      <hr>
        <p><%=  @offer.job_description%></p>
    </div>
  </div>
</div>

