<h1>Bonjour <%= current_user.first_name %></h1>

<div>
  <div>
    <%= link_to 'Candidatures à envoyer ', applies_path(params: { status: 'Candidature envoyée' }) %>
    <%= @candidatures.count %>
  </div>

  <div>
    <%= link_to 'Entretiens à préparer :', applies_path(params: { status: 'Entretien' }) %>
    <%= @entretiens.count %>
  </div>

  <div> Relances : 2
  </div>
</div>

<div>
  semaine 1
</div>

<div>
  semaine 2
</div>

<div>
  graph
</div>
